*{
  background-color: #343a40;
  color: #fff;
}
nav.container.navbar {
  margin-bottom: 50px;
}
.App {
  text-align: center;
}
.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img{
  width: 50%;
}
a .btn {
  margin-right: 18px;
}
a button.btn.btn-danger {
  margin-right: 0;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btn.btn-outline-light {
  margin: 15px 0;
}
.table-api{
  margin-top: 15px;
}
.button-back Button{
  display: block;
  width: 100%;
  border-radius: 0;
}
.button-back{
  margin-bottom: 50px;
}
.card-details{
  background:#006595bf;
  padding: 25px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.add-data label {
  display: block;
  text-transform: uppercase;
  text-align: left !important;
}
.add-data input {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #929fba;
  padding: 8px 0;
  margin-bottom: 25px;
}
.add{
  padding: 12px 35px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 2px;
}
.add:hover{
  border: none;
  box-shadow: none;
}
section.container.App.Card .row {
  display: block;
  background: #fff;
  border-radius: 10px;
}
section.container.App.Card .row .col{
  background-color: #fff;
  color: #000;
  padding: 30px 40px;
}
section.container.App.Card .row .col:nth-child(2){
  padding: 20px 0;
  border-bottom: 2px solid #e0e0e0;
  border-top: 2px solid #e0e0e0;
}
section.container.App.Card .row img{
  width: 50%;
}
img.uploadIcon {
  background: #fff;
}
.fileUploader {
  margin-top: 24px;
}
.fileContainer p {
  background: #fff;
  color: #000;
  font-size: 16px;
}
.updateForm{
  display: flex;
}
.form{
  width: 100%;
}
.none{
  display: none;
}
.show{
  display: block;
}